@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkblue">ASP.NET - Assignment 1</h1>
</div>

<div class="row">
    <div class="col-md-12" style="color:midnightblue">
        <h3>Go to "Bio" tab for view details ...</h3>
        
    </div>
</div>